.catagoryList{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.catagoryImageStyle{
  height: 5rem;
  width: 5rem;
  border-radius: 12px;
  box-shadow: 1px 4px 10px 0px #888888;
  margin: 10px 10px;
}